<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threadsmod.activityprobe"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:label="ThreadsMod Activity Probe"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity
            android:name="com.threadsmod.CloneBlockerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity
            android:name="com.threadsmod.CloneBlockerSettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity
            android:name="com.threadsmod.ProxySettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>
</manifest>
